body {
  background: #e0e0e0;
  font-family: 'Courier New', sans-serif;
  text-align: center;
}
.container {
  width: 320px;
  margin: 30px auto;
}
input[type="text"] {
  width: 300px;
  padding: 7px;
  border-radius: 3px;
  font-size: 24px;
  font-family: 'Courier New', sans-serif;
  text-align: center;
}
#btn {
  color: #FFF;
  background: #00AAFF;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 4px 0 #0088CC;
  cursor: pointer;
}
#btn:hover {
  opacity: 0.8;
}
#btn.pushed {
  margin-top: 18px;
  box-shadow: 0 2px 0 #0088cc;
}
fieldset {
  margin-top: 40px;
  border: 1px dashed #AAA;
  border-radius: 5px;
  text-align: left;
}
legend {
  font-weight: bold;
  padding: 0 10px;
}
fieldset p {
  text-align: center;
}
